---
layout: page
tagline:
---

<!--
{% for post in paginator.posts %}
{% for post in site.posts %}
{% endfor %}
<article class="home">

  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>

</article>
{% endfor %}
<hr/>
-->
<!-- biography -->
<div class="bio">
  <header>
    <h1 margin="0px"><i class="fa fa-user"></i> Xun Wang</h1>
  </header>
  <p>
    Xun Wang is currently an algorithm engineer at <a href="https://www.malong.com/zh/home"> Malong Technologies </a>.
    He obtained his M.S. of Probability and Statistics in school of mathematics of  <strong> Sun Yat-Sen University</strong> in 2018.
    <p></p>
    Before that, he got his B.S. degree of Math and Applied Math from <strong>Beijing Normal University</strong>. 
  </p>
</div>

<!-- research interest -->
<div class="Interest">
  <header>
    <h1 margin="0px"><i class="fa fa-star"></i> Research Interests</h1>
  </header>
  <p>
    Computer Vision, Data Representation, Deep Metric Learning, Image Retrieval.
  </p>
</div>

<!-- publications -->
<div class="pub">
  <header>
    <h1 margin="0px"><i class="fa fa-file-text"></i> Publications
    </h1>
  </header>

  <!--
  <header>
    <h2 margin="0px"><i class="fa fa-file"></i> Journals</h2>
  </header>
  -->
  <!-- <ol>
    <li> -->
      <p>
        [<span class="booktitle">CVPR-2019</span>]
        <strong>Xun Wang</strong>,  Xintong Han, Weilin Huang, Dengke Dong, Matthew R. Scott
        <a target="blank" href="https://arxiv.org/abs/1904.06627">Multi-Similarity Loss with General Pair Weighting for Deep Metric Learning</a>, 
         (2019)
        [<a href="https://arxiv.org/abs/1904.06627">PDF</a>][<a href="https://github.com/MalongTech/research-ms-loss">Code@Github</a>]
      </p>
    <!-- </li>
  
  </ol>
  <header>
    <h2 margin="0px"><i class="fa fa-file"></i> Conferences</h2>
  </header>
  <ol>
  -->
  <!-- </ol> -->
</div>

<!-- honors and awards -->
<div class="awards">
  <header>
    <h1 margin="0px"><i class="fa fa-trophy"></i> Honors and Awards</h1>
  </header>
  <ol>
    <li><p>
        1st-order Graduate Scholarship, Sun Yat-Sen University  2015-2017
    </p></li>

    <li><p>
      The 2nd Prize in 1500M Race of School Athletic Meet   2016
    </p></li>
    
    <li><p>
      Top 2/7 in the major of Probability and mathematical Statistics 2015-2018
    </p></li>

    
</div>

<!-- projects -->
<div class="Repos">
  <header>
    <h1 margin="0px"><i class="fa fa-tags"></i> Personal Repos</h1>
  </header>
  <ol>
    <li><p>
    <Strong>Deep Metric Learing with 300+ stars</Strong>
    <a href="https://github.com/bnu-wangxun/Deep_metric">Code at Github</a>
    <br>A project providing implements of serval basic loss functions, including binominal deviance loss, triplet loss (Batch all) and so on, in deep metric learning.
    <br>
    </p></li>
  </ol>
</div>
<br>
